div.listcell {
  text-align: justify;
}

div.tablecellleft {
  text-align: justify;
}

div.language {
  text-align: justify;
}

div.experiencedesc {
  text-align: justify;
}

div.positiontitle {
  text-align: justify;
}

div.positiondesc {
  text-align: justify;
}
