a {
  color: #7B8A8B;
}

table {
  margin-top: 5pt;
  border-spacing: 0px;
}

table.speaker {
  margin-top: 10px;
}
table.confspeaker {
  margin-left: 40px;
}

table.education {
  margin-top: 10px;
}

table.languagelist {
  margin-top: 10px; 
}

table.personal {
  margin-top: 10px; 
}

table.position {
  padding-left: 5pt;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: lightsteelblue;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightsteelblue;
  margin-left: 50px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

table.keycontribution {
  padding-left: 18pt;
}

table.experience-title {
  padding-left: 10pt;
}

table.experience {
  padding-left: 20pt;
}

table.company {
  margin-top: 10px;
}

ul.keycontribution {
  margin-top: 5px;
  width: 630px;
  list-style-image: url('bullet.png');
  padding-inline-start: 50px;
}

div.companyname {
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 11pt;
}

div.address {
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10.5pt;
}

div.address-sub {
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 9pt;
}

div.objective {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 12.5pt;
}

div.conftitle {
  padding-left: 5pt;
  padding-top: 5pt;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10pt;
  font-weight: bold;
  font-style: normal;
}

div.conflocation {
  padding-top: 5pt;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 8pt;
}

td.confdate {
  width: 50pt;
  padding-left: 18pt;
  vertical-align: bottom;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10pt;
}

td.experiencedate {
  padding-left: 18pt;
}

td.positiondate {
  padding-left: 5pt;
}

td.diplomadate {
  padding-left: 18pt;
  width: 90px;
}

td.language {
  padding-left: 18pt;
}

div.pagebreak {
  page-break-before: always;
}

div.page {
  margin-left: auto;
  margin-right: auto;
}

td {
  vertical-align: top;
}

div.listcell {
  text-align: left;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10pt;
  padding-top: 5pt;
  padding-left: 5pt;
}

div.tablecell {
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10pt;
}

div.tablecellleft {
  margin-top: 10px;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10pt;
  text-align: left;
  padding-left: 5pt;
  padding-right: 5pt;
}

div.personal {
  margin-top: 10px;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10pt;
  text-align: left;
  padding-left: 50px;
  padding-right: 5pt;
}

div.language {
  width: 80px;
  margin-top: 10px;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10pt;
  padding-left: 0pt;
  padding-right: 5pt;
}

div.languagelevel {
  width: 500px;
  margin-top: 10px;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10pt;
  padding-left: 5pt;
  padding-right: 5pt;
}

div.experiencedesc {
  margin-top: 10px;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 9pt;
  padding-left: 5pt;
  padding-right: 5pt;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: lightsteelblue;
}

div.positiondate {
  margin-top: 5px;
  width: 60pt;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 8pt;
  text-align: left;
}

div.positiontitle {
  margin-top: 10px;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10pt;
  padding-left: 5pt;
  padding-right: 5pt;
}

div.positiondesc {
  margin-top: 5px;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 9pt;
  padding-left: 5pt;
  padding-right: 5pt;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: lightsteelblue;
} 

div.tablecellright {
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 9pt;
  text-align: right;
  padding-left: 5pt;
  padding-right: 5pt;
}

div.title_1 {
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10pt;
  text-align: left;
  font-weight: bold;
  border-color: lightsteelblue;
  border-left-style: solid;
  border-bottom-style: solid;
  border-left-width: 8px;
  border-bottom-width: 1px;
  padding: 4px;
  padding-left: 10px;
}

div.title_2 {
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10pt;
  text-align: left;
  font-weight: bold;
  border-color: lightsteelblue;
  border-left-style: solid;
  border-bottom-style: solid;
  border-left-width: 8px;
  border-bottom-width: 1px;
  padding: 4px;
  padding-left: 10px;
}

div.title_3 {
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10pt;
  text-align: left;
  font-weight: bold;
  border-color: lightsteelblue;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 4px;
  padding-left: 0px;
  margin-left: 35px;
}

div.date {
  margin-top: 10px;
  width: 60pt;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 8pt;
  text-align: left;
}

div.confdate {
  padding-left: 5px;
  width: 60pt;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 8pt;
  text-align: left;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: lightsteelblue;
}

div.columnheader {
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 10pt;
  text-align: left;
  vertical-align: top;
  font-weight: bold;
  padding-left: 5pt;
  padding-right: 5pt;
}

a.navlink {
 color: #ffffff;
 font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 8pt;
}
